streamlit
pandas
plotly

langchain
langchain-community
langchain-core
langchain-chroma
langchain-huggingface

chromadb

sentence-transformers

pymupdf
pymupdf4llm
mammoth
markdownify
olefile

ollama

docx2txt
PyPDF2
openpyxl